<!-- <!-- 
	<% @contractors.each do |contractor| %>
		<h4><%= link_to contractor.firstname, contractor %></h4>
	<% end %>
 -->
 <table>
<% @contractors.each do | contractor | %>
<tr>
	<td><%= contractor.firstname %></td>
	<td>
	<%= form_tag quote_add_contractor_path, :method => 'post', :id => "contractors_search" do %>
		<%= hidden_field_tag :quote_id, @quote.id %>
		<%= hidden_field_tag :contractor_id, contractor.id %>
		<%= submit_tag "Add" %>
	<% end %>
	</td>
</tr>
<% end %>
</table>  


<!--  <table>
  <% @contractors.each do |contractor| %>
  <tr>
	<td><%= contractor.firstname %></td>
	<td>
          <%= button_to("Add", quote_add_contractor_path(@quote, :contractor_id => contractor.id)) %>
        </td>
  </tr>
  <% end %>
</table>   -->