<%= form_for [@project, @quote] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :status %>
  <%= f.text_field :status %>
   
<div> 
 
 <%= f.fields_for :labouritems do |builder| %>
    <%= builder.label :description %>
    <%= builder.text_field :description %>
    <%= builder.label :hours %>
    <%= builder.text_field :hours %>
    <%= builder.autocomplete_field :contractor_name, autocomplete_contractor_firstname_contractors_path, :id_element => '#quote_labouritems_attributes_0_contractor_id' %>
       <%= builder.hidden_field :contractor_id  %>

  <% end %>
 
 
</div>

  <%= f.submit "Add" %>

<% end %>

