<%= nested_form_for [@project, @quote] do |f| %>
<p>
  <%= f.hidden_field :project_id %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :status %>
  <%= f.text_field :status %>
 </p>  
<div> 
  <h4> Labour Items </h4>
 <p>
 <%= f.fields_for :labouritems do |builder| %>
<ul>
    <%= builder.label :description %>
    <%= builder.text_field :description %>
    <%= builder.label :hours %>
    <%= builder.text_field :hours, :size => "4" %>
    <%= builder.label "Contractor" %>
    <%= builder.autocomplete_field :contractor_name, autocomplete_contractor_firstname_contractors_path, :id_element => '#quote_labouritems_attributes_0_contractor_id' %>
    <%= builder.hidden_field :contractor_id  %>
    <%= builder.label :contractor_rate  %>
    <%= builder.text_field :contractor_rate, :size => "4" %>
    <%= builder.label :total %>
    <%= builder.text_field :total, :size => "4" %>
    <%= builder.link_to_remove "Remove" %>
</ul>
  <% end %>
 <p>
 <p><%= f.link_to_add "Add Labour Item", :labouritems %></p>
</div>

  <%= f.submit "Submit" %>

<% end %>

