
<div> 
<%= form_for [@quote, @labouritem] do |f| %>
 
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :hours %>
  <%= f.text_field :hours %>

<%= f.fields_for :contractors do |builder| %>
  
    <%= builder.label :contractor_name %>
    <%= builder.autocomplete_field :contractor_name, autocomplete_contractor_firstname_contractors_path, :id_element => '#labouritem_contractors_contractor_id' %>
     <%= builder.hidden_field :contractor_id  %>
    <%= builder.label :contractor_rate %>
    <%= builder.text_field :contractor_rate %>
<% end %>

  <%= f.submit "Add" %>
<% end %>
</div>
