
<div> 
<%= form_for (@quote) do |f| %>
 <%= f.fields_for :labouritem do |builder| %>
    <%= builder.label :description %>
    <%= builder.text_field :description %>
    <%= builder.label :hours %>
    <%= builder.text_field :hours %>
    <%= builder.autocomplete_field :contractor_name, autocomplete_contractor_firstname_contractors_path, :id_element => '#quote_labouritem_contractor_id' %>
       <%= builder.hidden_field :contractor_id  %>

  <% end %>
  <%= f.submit "Add" %>
<% end %>
</div>

