<p>
  <b>Name:</b>
  <%= @quote.name %>
</p>

<p>
  <b>Status:</b>
  <%= @quote.status %>
</p>

<b>Existing contractors</b>
<table>
	<tbody>
		<%@quote.contractors.each do | contractor| %>	
			<tr>
				<td><%= contractor.firstname %></td>
				<td><%= contractor.email %> </td>
			</tr>
			
		<% end %>
	</tbody>
	
</table>


<b>Other contractors </b>
<table>
<% @contractors.each do | contractor | %>
<tr>
	<td><%= contractor.firstname %></td>
	<td>
	<%= form_tag (quote_add_contractor_path) do %>
		<%= hidden_field_tag :quote_id, @quote.id %>
		<%= hidden_field_tag :contractor_id, contractor.id %>
		<%= submit_tag "Add" %>
	<% end %>
	</td>
</tr>
<% end %>
</table>
