<div>
  <b>Name:</b>
  <%= @quote.name %>
  <b>Status:</b>
  <%= @quote.status %>
</div>
  <br>

<table class="table table-condensed">
 <tr>
	<th>Description</th>
	<th>Status</th>
	<th>Contractor</th>
	<th>Cont Rate</th>
	<th>Item Total</th>
 </tr>
<% @quote.labouritems.each do |items|%>
 <tr>
	<td><%= items.description %></td>
	<td><%= items.hours %></td>
	<td><%= items.contractor_name %> </td>
	<td><%= items.contractor_rate %> </td>
	<td><%= items.total %> </td>

 </tr>
<% end %>
</table>
<br><br>
<div>
<%= link_to raw('<i class="icon-cog" style="font-size: 25px"></i>' "  Admin"), edit_project_quote_path(@project, @quote)   %> 
 <%= link_to raw('<i class="icon-time"style="font-size: 25px"></i>' "  Manage"), progress_manage_path(@project, @quote) %>
<%= link_to raw('<i class="icon-hand-left" style="font-size: 25px"></i>' "  Back to Project"), client_project_path(@client, @project)  %>
<%= link_to "Create Invoice", new_quote_invoice_path(@quote)  %>
<%= link_to "Invoices", quote_invoices_path(@quote) %>
</div>
 

