<div>

<p>
  <b>Name:</b>
  <%= @quote.name %>
</p>

<p>
  <b>Status:</b>
  <%= @quote.status %>
</p>

<b>Add Labour Items</b>
<% @quote.labouritems.each do | litems| %>
	<%= litems.id %>
	<%= litems.description %>
	<%= litems.hours %>
  <%= litems.contractor_name %>


<% end %>

<%= render 'form' %>


</div>