<h3>Listing clients</h3>

<table class="table table-condensed">
  <tr>
    <th>Firstname</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.firstname %></td>
    <td><%= client.surname %></td>
    <td><%= client.email %></td>
    <td><%= link_to 'Show', client %>
    <%= link_to 'Edit', edit_client_path(client) %>
    <%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
