<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @client.firstname %>
</p>

<p>
  <b>Surname:</b>
  <%= @client.surname %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
<%= link_to 'Create Project', new_client_project_path(@client) %>

<div>


</div>

<% @client.projects.each do |project| %>

    <%= link_to project.name, [@client, project] %>
 
 
<% end %>