<h2>Listing projects</h2>

<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Client</th>
    <th></th>
   </tr>
 
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= project.status %></td>
    <td><%= project.client.firstname %></td>
    <td><%= link_to 'Show', client_project_path(project.client.id, project) %>
    </td>
  </tr>
<% end %>
</table>

<br />

