
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
	<b>Project Owner</b>
	<%= link_to @client.firstname, @client  %>
</p>

<p>
	<% @project.quotes.each do |quote| %>
	<li>
	<%= quote.name %>
	<%= link_to "Show Quote", project_quote_path(@project, quote.id) %>
 	</li>
	<% end %>

</p>

 
<%= link_to 'Edit', edit_client_project_path(@client.id, @project) %> |
<%= link_to 'Create Quote', new_project_quote_path(@project) %>
<%= link_to 'Destroy', @project, confirm: 'Are you sure?', method: :delete %>
