<!DOCTYPE html>
<html>
<head>
  <title>Crmtracker</title>
   <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbay">
    <div class="mastaheader">
    Crm Tracker.
    <div class="headerlogin">
      <% if user_signed_in? %>
       <%=  "Current User:"   %>
       <%= current_user.username %>
       <b><%=link_to "Log out", destroy_user_session_path, :method => :delete %></b>
        
      <% else %>
        <b><%=link_to "Login", new_user_session_path %></b>
      <% end %>

    </div>

    </div>

  </div>
 </div>

 <div class="container-fluid">
   <div class="row-fluid">
     <div class="span1">
       <div class="well sidebar-nav sidebar-nav-fixed">
         <ul class="nav nav-list">
           <li class="nav-header"></li>
           <li class="active"><a href="#">
           	<div style="font-size: 30px"> 
           		  <i class="icon-off" style="font-size: 30px"></i> 
	         	</div> 
	         </a>
           </li>
            <li id="clients" class="active"><a href="/clients">
           	<div style="font-size: 30px"> 
           		  <i class="icon-group"></i> 
	         	</div> 
	         </a>
           </li>
            <li class="active"><a href="/projects">
           	<div style="font-size: 30px"> 
           		  <i class="icon-briefcase"></i> 
	         	</div> 
           </a>
           </li>
          <li class="active"><a href="/contractors">
            <div style="font-size: 30px"> 
                <i class="icon-user-md"></i> 
            </div> 
           </a>
           </li>


         </ul>
       </div><!--/.well -->
     </div><!--/span-->
     <div class="span11">
       <div class="hero-unit">
          <% flash.each do |key, value| %>
            <div class='flash' id='<%= key %>'>
              <%= value %>

            </div>
          <% end %>
       	<%= yield %>
         

       </div>
        

  
 
   <hr>
 
   <footer>
     <p>&copy; Web Solutions 2012</p>
   </footer>
 
 </div><!--/.fluid-container-->
​

</body>
</html>
